# ignore Coq output
*.vo

# ignore HTML files
*.glob
*.html

# ignore all generated LaTeX stuff
*.tex
*.out
*.pdf
*.synctex.gz
*.log
*.aux

# and some other stuff
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.hs
*.ml
*.ml.d
*.ml4.d
*.mli
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
*#
*.sw*
